In [14]:
print("hello world sohaib ")

# VARIABLES

x = 5

print(x)

y = 9

print(y)

hello world sohaib
5
9

In [36]:
# DATA TYPES

# INT

number = 100

print("int data type number is equal to ",number)

# float

number = 100.1

print("float data type number is equal to ",number)

# string

Name = "sohaib"

print("string data type 'person Name' is ",Name)

# boolean (true or false )

is_student = True

print("boolean answer if person is a student ",is_student)

is_student = False

print("boolean answer if person is not a student ",is_student)

int data type number is equal to  100
float data type number is equal to  100.1
string data type 'person Name' is  sohaib
boolean answer if person is a student  True
boolean answer if person is not a student  False

In [40]:
 # list (mutable)

list = [12.3,"sohaib",100,True]

print(list)

print(list[0])

list[0] = 34.8

print(list[0])

# list functions

print(len(list)) # total elements in the list

list.append("qadir") # append at the end

print(list)

list.insert(0,8) # insert at position

print(list)

list.remove(100) # delete by value

print(list)

print(list.pop()) # pop last element

print(list)

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")
print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

numbers = [12,1,4,5,6,2]

print(numbers)

numbers.sort() # sort all elements which are present in the list

print(numbers)

numbers.reverse() # reverse all elements which are present in the list

print(numbers)

[12.3, 'sohaib', 100, True]
12.3
34.8
4
[34.8, 'sohaib', 100, True, 'qadir']
[8, 34.8, 'sohaib', 100, True, 'qadir']
[8, 34.8, 'sohaib', True, 'qadir']
qadir
[8, 34.8, 'sohaib', True]
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
[12, 1, 4, 5, 6, 2]
[1, 2, 4, 5, 6, 12]
[12, 6, 5, 4, 2, 1]

In [42]:
# tuple ( immutabe )

tuple = ("sohaib",67,89.90)

print(tuple)

# error (tuple[0] = 67)

print(len(tuple))

# error tuple.remove("sohaib")

('sohaib', 67, 89.9)
3

In [70]:
# dictionary ( store value in key and its value )

dictionary = {

    "Name " : "sohaib",
     "Age" : 22,
     "address" : "pakha ghulam peshawar "
}

print(dictionary)

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

print(dictionary["Name "]) # print value which is present in the key

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

print(dictionary.get("Name ")) # print value which is present in the key

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

print(dictionary.keys()) # return all keys only

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

print(dictionary.values()) # return only values which are present in the keys

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

print(dictionary.items()) # return key ,value

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

dictionary.update({"Name " : "qadir"})

print(dictionary)

dictionary.pop("Age")

print(dictionary)

{'Name ': 'sohaib', 'Age': 22, 'address': 'pakha ghulam peshawar '}
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
sohaib
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
sohaib
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
dict_keys(['Name ', 'Age', 'address'])
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
dict_values(['sohaib', 22, 'pakha ghulam peshawar '])
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
dict_items([('Name ', 'sohaib'), ('Age', 22), ('address', 'pakha ghulam peshawar ')])
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{'Name ': 'qadir', 'Age': 22, 'address': 'pakha ghulam peshawar '}
{'Name ': 'qadir', 'address': 'pakha ghulam peshawar '}

In [94]:
# set (unique numbers)

set = {1,2,3,4,5}

print(set)

set.pop()

print(set)

set.pop()

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

print(set)

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

set.add(9)

print(set)

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

set.remove(9)

print(set)

print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

set1 = {34,2,6,89}
set2 = {343,24,6,895}

print(set1.union(set2))


print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")


print(set1.intersection(set2))


print("++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++")

print(set1.difference(set2))

{1, 2, 3, 4, 5}
{2, 3, 4, 5}
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{3, 4, 5}
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{3, 4, 5, 9}
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{3, 4, 5}
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{34, 2, 6, 343, 24, 89, 895}
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{6}
++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
{89, 34, 2}

In [102]:
# slicing

list = [1,3,4,5,6]

print(list[0:4])

print(list[0:])

print(list[:])

[1, 3, 4, 5]
[1, 3, 4, 5, 6]
[1, 3, 4, 5, 6]